# General
# ------------------------------------------------------------------------------
export PROJECT_NAME=got
export DEBUG=1
export API_APP=app.main:app
export PORT=9000
export DEBUG_PORT=5678
# export DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/postgres
export DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:50432/postgres
# export DATABASE_URL=postgresql+asyncpg://test:test@localhost:51432/test
export CORS_ORIGINS="http://127.0.0.1,http://127.0.0.1:3000,http://localhost,http://localhost:3000,http://web,http://web:3000"

export BASE_URL="http://127.0.0.1:9000/api"

export SECRET_KEY="123"
export SECURITY_PASSWORD_SALT="123"

export API_CLIENT_KEY="gotapi"
export API_CLIENT_SECRET="gotapi"

# OMDB API
# ------------------------------------------------------------------------------
export OMDB_API_KEY='f45c07f2'

# Redis
# ------------------------------------------------------------------------------
export REDIS_HOST='localhost'
export REDIS_PORT=6379



# Postgres DB
# ------------------------------------------------------------------------------
export DB_HOST=postgres
export DB_PORT=5432
export DB_NAME=postgres
export DB_USER=postgres
export DB_PASS=postgres

# Localtunnel
# ------------------------------------------------------------------------------
export LOCALTUNNEL_SUBDOMAIN=gotapi

# Terminal
# ------------------------------------------------------------------------------
# setting both $COLUMNS and $LINES fixes a terminal size issue, if not set
# fastapi app logging (rich) gets limited to 80 columns or so making the output
# look ugly. Customize these variables according to your current terminal
# configuration
export COLUMNS=160
export LINES=40
